<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="chocolatey-compatibility.extension" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-dotnetfx.extension" />
  <package id="chocolatey-font-helpers.extension" />
  <package id="nerdfont-hack" version="2.1.0" /> 
  <package id="fnm" />  
  <package id="appium-desktop" />  
  <package id="sqlite-studio.portable" />
  <package id="sqlitestudio" />
  <package id="wsl2" />
</packages>
