{
	"$schema" : "https://aka.ms/winget-packages.schema.2.0.json",
	"CreationDate" : "2022-12-07T19:12:39.237-00:00",
	"Sources" : 
	[
		{
			"Packages" : 
			[	
				{
					"PackageIdentifier" : "Microsoft.VCRedist.2008.x64"
				},
				{
					"PackageIdentifier" : "Microsoft.VCRedist.2015+.x64"
				},
				{
					"PackageIdentifier" : "Microsoft.VCRedist.2015+.x86"
				},
				{
					"PackageIdentifier" : "Microsoft.DotNet.SDK.3_1"
				},				
				{
					"PackageIdentifier" : "Microsoft.DotNet.SDK.5"
				},
				{
					"PackageIdentifier" : "Microsoft.DotNet.SDK.6"
				},
				{
					"PackageIdentifier" : "Microsoft.DotNet.SDK.7"
				},
				{
					"PackageIdentifier" : "Microsoft.WindowsSDK"
				},
				{
					"PackageIdentifier" : "Oracle.JDK.19"
				},
				{
					"PackageIdentifier" : "Microsoft.BotFrameworkComposer"
				},
        {
					"PackageIdentifier" : "Microsoft.VisualStudio.2022.Community"
				},
				{
					"PackageIdentifier" : "Microsoft.VisualStudioCode.Insiders"
				},
        {
					"PackageIdentifier" : "Microsoft.BotFrameworkEmulator"
				},
				{
					"PackageIdentifier" : "Microsoft.SQLServer2012NativeClient"
				},
				{
					"PackageIdentifier" : "Microsoft.AzureDataStudio"
				},	
				{
					"PackageIdentifier" : "DBBrowserForSQLite.DBBrowserForSQLite"
				}, 
        {
					"PackageIdentifier" : "Microsoft.NuGet"
				},
        {
					"PackageIdentifier" : "Git.Git"
				},
				{
					"PackageIdentifier" : "GitHub.cli"
				},			
				{
					"PackageIdentifier" : "GitExtensionsTeam.GitExtensions"
				},
				{
					"PackageIdentifier" : "jasongin.nvs"
				},			
				{
					"PackageIdentifier" : "AgileBits.1Password"
				},
        {
					"PackageIdentifier" : "HermannSchinagl.LinkShellExtension"
				},
        {
					"PackageIdentifier" : "Microsoft.PowerAppsCLI"
				},
        {
					"PackageIdentifier" : "Microsoft.WindowsAdminCenter"
				},
				{
					"PackageIdentifier" : "WiresharkFoundation.Wireshark"
				},
        {
					"PackageIdentifier" : "7zip.7zip"
				},
				{
					"PackageIdentifier" : "Microsoft.vott"
				},				
				{
					"PackageIdentifier" : "Google.Drive"
				},
				{
					"PackageIdentifier" : "Canonical.Ubuntu"
				},
				{
					"PackageIdentifier" : "Discord.Discord"
				},
				{
					"PackageIdentifier" : "Docker.DockerDesktop"
				},
				{
					"PackageIdentifier" : "Dropbox.Dropbox"
				},
				{
					"PackageIdentifier" : "Grammarly.Grammarly"
				},
				{
					"PackageIdentifier" : "Grammarly.Grammarly.Office"
				},
				{
					"PackageIdentifier" : "LINE.LINE"
				},
				{
					"PackageIdentifier" : "Microsoft.OpenSSH"
				},
				{
					"PackageIdentifier" : "CodeSector.TeraCopy"
				},
				{
					"PackageIdentifier" : "OpenJS.NodeJS"
				},
				{
					"PackageIdentifier" : "Microsoft.PowerShell"
				},
				{
					"PackageIdentifier" : "Microsoft.WindowsTerminal"
				},
				{
					"PackageIdentifier" : "Notepad++.Notepad++"
				},
				{
					"PackageIdentifier" : "JanDeDobbeleer.OhMyPosh"
				},
				{
					"PackageIdentifier" : "Microsoft.OneDrive"
				},
				{
					"PackageIdentifier" : "Postman.Postman.Canary"
				},
				{
					"PackageIdentifier" : "wethat.onenotetaggingkit"
				},
				{
					"PackageIdentifier" : "Microsoft.BingWallpaper"
				},
				{
					"PackageIdentifier" : "Microsoft.TeamMate"
				},
				{
					"PackageIdentifier" : "Kubernetes.minikube"
				},
				{
					"PackageIdentifier" : "mentebinaria.retoolkit"
				},
				{
					"PackageIdentifier" : "Microsoft.PowerAutomateDesktop"
				}
				{
					"PackageIdentifier" : "JetBrains.Toolbox"
				},
        {
					"PackageIdentifier" : "WinMerge.WinMerge"
				},
				{
					"PackageIdentifier" : "Microsoft.PowerToys"
				},
				{
					"PackageIdentifier" : "Microsoft.Sqlcmd"
				},
				{
					"PackageIdentifier" : "Microsoft.DeploymentToolkit"
				},
			],
			"SourceDetails" : 
			{
				"Argument" : "https://cdn.winget.microsoft.com/cache",
				"Identifier" : "Microsoft.Winget.Source_8wekyb3d8bbwe",
				"Name" : "winget",
				"Type" : "Microsoft.PreIndexed.Package"
			}
		}
	],
	"WinGetVersion" : "1.3.2691"
}